.Geckometer {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

.Geckometer__center {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.Geckometer__value {
    display: block;
    color: #FFFFFF;
    font-size: 6rem;
    line-height: 1;
}

.Geckometer__value.--smallText {
    font-size : 4rem;
}

.Geckometer__percentage {
    display: block;
    color: #8DC63F;
    font-weight: 200;
    font-size: 1.8rem;
}

.Geckometer__target,
.Geckometer__loadingMessage {
    display: block;
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 200;
    font-size: 1.8rem;
}