html {
    background: #2A2A2A;
    font-size: 10px;
}

body {
    padding-top: 40px;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}